.profile {
	margin-top: 5em;
	max-width: 400px;

	p {
		display: flex;
		font-size: 14px;
		margin: 5px 0;

		&:empty { display: none; }
	}

	span {
		display: block;
		margin-right: 10px;
	}

	a {
		color: #444;
		text-decoration: none;
	}

	&__header {
		border-bottom: 1px solid #ccc;
		text-align: center;
		padding: 1em 0;
		margin: 1em 0 0 0;
	}

	&__content {
		// border: 1px solid #ccc;
		padding: 1em 0;
	}

	&__name {
		margin: 0;
	}

	&__bio {
		font-size: 14px;
		padding: 0;
	}

	// &__blog {
	// 	&:before { content: 'Blog: '; }
	// }

	// &__location {
	// 	&::before { content: 'Location: '; }
	// }
}