.form-get-user {
	margin: 5em auto 3em auto;
	padding: 3em;

	* { outline: none; }

	&__content { position: relative; }

	label {
		display: block;
		font-size: 22px;
		font-weight: bold;
		margin: 1.5em 0 1em 0;
		text-align: center;
	}

	&__user {
		background: #fff;
		border-radius: 50px;
		border: 1px solid #ccc;
		display: block;
		margin: 1.5em 0;
		padding: 0 2em;
		height: 60px;
		width: 100%;
		transition: border-color .5s ease;

		&:active,
		&:focus {
			border-color: #8a8a8a;
			box-shadow: 0 0 3px #b8b8b8;
		}
	}

	.button {
		margin: 0 .8em;
		width: 48%;
	}

	&__error {
		color: #d00;
		font-weight: bold;
		text-align: center;
	}
}
